.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    max-height:500px;
    background-attachment: fixed;
}

.captionText{
    padding-bottom: 6em;
    font-size: 3em;
}

.navbar-inverse{
    background-color: rgb(72,160,37);
}

.navbar-inverse{
    border-color: rgb(72,160,37);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color:  rgb(46, 95, 26);
}





/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }

  .carousel-inner{
      height:300px;
  }
}