html, body{
    height: 100%;
}
#header{
    background-image: url("/Users/jpardo-cano729/CapStone/JMG/html5-boilerplate_v6.0.1/img/compost.jpg");
     
         height: 50%; 
     
         /* Center and scale the image nicely */
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
}